version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend-radio
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/radio-gestion
      - CORS_ORIGINS=http://localhost:3000
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    restart: unless-stopped

volumes:
  mongo-data:

